<!-- This is form edit page, here user edit their form (😲😲😲)
 user may have ability to edit their form (this function is not implemented for now, but form creation works properly) 
 use this page for form creation after registration, but include form edit usage -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form edit Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Form edit Page!</h1>
</body>
</html>