<!-- This is index page, the first page user see
 (think about it as a home page) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- All elements located in public folder: src\public -->

    <!-- NO NEED TO LOCATE '/public...' DIRECTORY, 
     ex.: "/css/styles.css"✅✅✅, NOT: "/public/css/styles.css"❌❌❌-->

    <!-- To add new pages see src\routes\pages.js examples, 
     don`t forget to test (see instructions in src\routes\pages.js) what you`ve done (don`t trust AI 100%, make your own decisions) -->

    <!-- Also try to use components instead of custom styles for each page, this may help in code editing -->
    <title>Document</title>
  </head>
  <body>
    <h1>HELLO EJS!!!</h1>
    <img src="/images/photo_2025-03-24_01-26-31.jpg" alt="WOW">
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
