<!-- This is login page, here user can login (🤓🤓🤓)
 don`t forget to add redirection button/link to register page
 (if user don`t have account they must have ability to create it)-->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Login Page!</h1>
</body>
</html>