<!-- This is register page, here user can register (🤓🤓🤓)
 don`t forget to add password confirmation and redirection button/link to login page
 (if user already have account they must have ability log in)
 after successful registration redirect to form editor page
 (all users must have their form, so let them create it right after registration)-->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Register Page!</h1>
</body>
</html>